
.wh6 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #b12024;
    font-weight: 600 !important;
    line-height: 15px;
}


.wh6 .price-dec {
    text-transform: capitalize;
    font-size: 12px;
}

.text-black-50 {
    color: #222222;
}

.icon-box1 {
    width: 100%; /*max-width:320px;*/
    background-color: #eee;
    -webkit-box-shadow: 0 1px 5px 0 #DEDEDE;
    box-shadow: 0 1px 5px 0 #DEDEDE;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    /*padding: 3px;*/
    margin-bottom: 3px;
    /*min-height: 90px;*/
    /* margin-right: 8px;*/
    margin-bottom: 1px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+22,f3f3f3+22,ededed+22,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 22%, #f3f3f3 22%, #ededed 22%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f3f3f3 22%,#f3f3f3 22%,#ededed 22%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#f3f3f3 22%,#f3f3f3 22%,#ededed 22%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+22,f3f3f3+22,ededed+22,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 22%, #f3f3f3 22%, #ededed 22%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f3f3f3 22%,#f3f3f3 22%,#ededed 22%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 22%,#f3f3f3 22%,#ededed 22%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tab-content {
    border: 1px solid #DEDEDE;
    border-top: 0px none #fff;
    padding: 10px;
}

.tab-pane {
    /*padding: 0px 10px;*/
}

.w_content {
    margin: 30px 0px;
}

    .w_content > h2 {
        font-size: 22px;
    }



    .w_content h1, .w_content h2, .w_content h3, .w_content h4, .w_content h5, .w_content h6 {
        margin: 20px 0px 10px 0px;
    }

.w-bgph {
    background-color: #F7941D;
    font-size: 18px;
    padding: 5px 15px;
    color: #fff;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

    .w-bgph:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f2dc";
        margin-right: 10px;
        font-size: 18px;
    }

.w-bor-r {
    border-right: 1pt solid #f1f1f1;
    margin-top: -40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 #E0E0E0;
    box-shadow: 0 0 15px 0 #E0E0E0;
}

    /*==the university master side menu style in line wale */
    .w-bor-r .nav-link {
        border-bottom: 1pt solid #f1f1f1;
        width: 100%;
        border-left: 2px solid #DEDEDE;
    }

        .w-bor-r .nav-link[data-toggle].collapsed:after {
            content: " ▾";
            font-size: 26px;
            float: right;
            color: #F7941D;
            text-shadow: 0 0 1px #262626;
        }

        .w-bor-r .nav-link[data-toggle]:not(.collapsed):after {
            content: " ▴";
            font-size: 26px;
            float: right;
            color: #F7941D;
            text-shadow: 0 0 1px #262626;
        }

        .w-bor-r .nav-link span:after {
            display: inline-block !important;
        }

    .w-bor-r ul {
        background-color: rgba(102, 102, 102, 0.02) !important;
    }

    .w-bor-r li a {
        white-space: normal !important;
        /* word-break: break-word !important;
    word-wrap: break-word !important;*/
    }

    .w-bor-r .nav-link:hover {
        background-color: #F7941D;
        color: #fff;
    }
/*==the university master side menu style in line wale */

.w_ul {
    padding-left: 40px;
}

    .w_ul li:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0a3";
        margin-left: -30px;
        margin-right: 10px;
        font-size: 10px;
        color: #F7941D;
    }

    .w_ul li {
        margin-bottom: 10px;
    }


.w_th td, .w_th td p, .w_th td b, .w_trbg td {
    background-color: #F7941D;
    color: #fff !important;
}

.w-ul-num {
    list-style-position: outside;
    list-style-type: decimal  ;
    padding-left: 20px;
}
.w-ul-num li {
        list-style-type: decimal;
        padding-left: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    .w-ul-roman li {
        list-style-position: outside;
        list-style-type: upper-roman;
         
    }
  

.w-hd-u {
    border-bottom: 1px solid #F7941D;
    margin: 15px 0px;
    padding-bottom: 8px;
}



/*-------------------------Departmnet--------------------------*/
.breadcrumbs {
    background-image: url(../images/civil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0px;
    padding: 100px 0px;
}

.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #1a76d1;
    opacity: 0.8;
    opacity: 0.6;
}

.breadcrumbs .bread-inner {
    z-index: 22;
    text-align: center;
}

.breadcrumbs ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

    .breadcrumbs ul li i {
        margin: 0px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }

.breadcrumbs h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.breadcrumbs .bread-list {
    display: inline-block;
    margin-top: 20px;
}

/*.main-sidebar .categor-list {
    margin-top: 15px;
}
    .main-sidebar .categor-list li {
        margin-bottom: 10px; 
    }
        .main-sidebar .categor-list li a {
            display:block;
            color: #333;
            font-size: 14px;
            padding: 10px;
        }
.wcivil {
    background-image: url(../images/civil.jpg) !important;
    
}*/



.w_content a {
    color: #43a1ff;
}


audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 15px;
    max-width: 200px;
    clear: both;
    display: block;
}


/*--------------------nice-select hack start---------------------*/
.nice-select {
    width: 100% !important;
    max-width: 100% !important;
    padding: 3px 5px !important;
    white-space: nowrap !important;
    word-wrap: break-word !important;
    height: 35px !important;
}

.current {
    display: block;
    overflow: hidden !important;
    width: 90% !important;
    white-space: nowrap !important;
    word-wrap: break-word !important;
}

.nice-select .option {
    cursor: pointer !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    min-height: 30px !important;
}

.nice-select.open .list {
    max-height: 300px !important;
    overflow-y: auto !important;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #F7941D;
    border-radius: 3px;
    background: #F7941D;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 8px 15px !important;
}
/*--------------------nice-select hack end---------------------*/


/* Automatic Serial Number Row in table */
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}

    .css-serial td:first-child:before {
        counter-increment: serial-number; /* Increment the serial number counter */
        content: counter(serial-number); /* Display the counter */
    }

.w-nh {
    /*display:none;*/
}

.list-aggregate {
    width: 100%;
}

    .list-aggregate li {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
        border-bottom: 1px dotted #fcbc6f;
    }

        .list-aggregate li h6 {
            margin-bottom: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid #dddddd;
        }

body {
   /* background-color: #260135*/
}

.w-container {
    max-width: 1366px;
    margin: auto;
    background-color: #fff
}


.close1 {
    display: block;
    background: #F7941D;
    padding: 0px;
    height: 24px;
    width: 24px;
    border: #999;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff !important;
    margin-right: -15px;
    margin-top: -15px;
}

hr {
    background-color: #f4f4f4;
    border: 0;
    height: 1px;
    margin: 1px 0px;
}


.modal-dialog .modal-content .modal-body {
    padding: 0px;
    overflow-y: auto;
    max-height: 510px;
    height: auto;
}


/*----------------------Sleek Scroll Start --------------------------*/

::-moz-selection {
    background: #ee002d;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #ee002d;
    color: #fff;
    text-shadow: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
    -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
    border: 1px solid #D8D8D8;
}
::-webkit-scrollbar-thumb {
    background: #F7941D;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}
    ::-webkit-scrollbar-thumb:hover {
        -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
    }
    ::-webkit-scrollbar-thumb:active {
        background: #888;
        -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    }

/*----------------------Sleek Scroll Start End--------------------------*/